node_modules
src/client/node_modules
.vscode

dist
*.db

.vscode

logs.*
client/Dockerfile.test
server/src/config.json
.vscode/launch.json
secret.config.json

/client/nginx/server*

*.csr
*.crt
*.key
*.org
*/package-lock.json
*/yarn.lock